* {
 margin: 0;
 padding: 0;
}

:root {
  --hue: 150
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background: oklch(94% .1 var(--hue));
}

#global-header {
  padding: 20px 0;
}

#global-header #logo {
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
}

#global-main {
  flex: 1;
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
}

#global-footer {
  padding: 20px 0;
  text-align: center
}
